

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: whitesmoke;
    
}

/*Customize the navbar*/
.navbar-custom {
    color: white;
    font-size: large;
}

.navbar-custom a:hover,
.navbar-nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgb(151,154,170);
}

.navbar-custom .active {
    background-color: rgb(151,154,170);
    color: whitesmoke;
}

.navbar-custom .active a:hover {
    background-color: rgba(85,98,112,.75);
}

.navbar-custom {
    background-color: whitesmoke;
}

.navbar-custom .navbar-toggle {
    background-color: rgb(85,98,112);
    color: whitesmoke;
}

.navbar-custom .icon-bar {
    background-color: rgb(85,98,112);
}

.jumbotron {
 display:none;
 z-index: 1;

 color: whitesmoke;
 text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
     background: rgb(151,154,170); /* For browsers that do not support gradients */
 
}



#imgMain {
    max-width: 75%;
    max-height: 75%;
}

.container h2 {
    color: #556270;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(151,154,170);
}
footer p {
    margin: 20px;
    color: #f5f5f5;
}












